<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("include/head.ejs") %>
  </head>

  <body>
    <%- include('include/navigation.ejs') %>
    <main>
      <% if (products.length > 0) { %>
      <ul>
        <% products.forEach(product => { %>
        <li>
          <p><%=product.title %> (<%=product.quantity%>)</p>
          <form action="/cart-delete-item" method="post">
            <button class="btn" type="submit">Delete</button>
            <input type="hidden" value="<%= product._id %>" name="productId" />
            <input
              type="hidden"
              value="<%= product.price %>"
              name="price"
            />
          </form>
        </li>

        <% })%>
      </ul>
      <div class="centered">
        <form action="/create-order" method="post">
          <button type="submit" class="btn">Order Now</button>
        </form>
      </div>

      <% }else {%>
      <H1> No Products in Cart</H1>

      <% }%>
    </main>
  </body>
</html>
