<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("include/head.ejs") %>
     
   </head>

  <body>
    <%- include('include/navigation.ejs') %>
  </body>
  <main class="centered">
    <h1>
        <%= product.title%>
    </h1>
    <hr>
    <div class="image">
        <img src ="<%= product.imageURL%>" alt=" <%= product.title%>">
    </div>
    <h2>
        <%= product.price%>
    </h2>
    <p>
        <%= product.description%>
    </p>
    <form action="/cart" method="POST">
        <button class="btn" type="submit">
            Add To Cart
        </button>
        <input type="hidden" name="productId" value="<%= product.id %>">
    </form>
  </main>
</html>
